@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import "nullstyle.scss";

.main {
    background-image: url(../img/header/bg.png);
    background-position: 50% 83px;
    height: 1100px;
    background-repeat: no-repeat;
    background-color: #0e1a35;
}

body {
    font-family: 'Roboto', sans-serif;;
    
}
button {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.36px;
    border-radius: 25px;
}

.page {

}

nav {
    display: flex;
    max-width: 1738px;
    margin: 0 auto;
    padding: 65px 25px 0;
    align-items: center;
    justify-content: space-between;
    img {
        width: 233px;
        height: 65px;
        object-fit: contain;
    }
}

.navigation {
    display: flex;
    align-items: center;
    margin: 0 -25px;
	&__item {
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 0.36px;
        color: #fff;
        margin: 0 25px;
	}
    &__button {
        padding: 15px 40px;
        color: #5584ff;
        background-color: #0e1a35;
        border: solid 1px rgba(85, 132, 255, 0.3);
        margin: 0 25px;
    }

}

.main {

    &__header {
        margin: 142px 0 88px;
    }

    &__title {
        margin: 0 0 18px;
        object-fit: contain;
        font-size: 60px;
        font-weight: 100;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #fff;
    }

    &__subtitle {
        object-fit: contain;
        font-size: 36px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #8492af;
    }

    &__button {
        display: block;
        color: #fff;
        padding: 15px 55px;
        background-color: #5584ff;
        margin: 82px auto 0;
    }

    &__screenshot img {
        display: block;
        width:882px;
        height: 621px;
    }
    &__screenshot {
        box-shadow: 0 0 75px #1f3465;
        width:882px;
        height: 493px;
        margin: 0 auto;
    }
}

