@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"); /*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.main {
  background-image: url(../img/header/bg.png);
  background-position: 50% 83px;
  background-repeat: repeat-x;
  height: 1100px;
  background-color: #0e1a35;
}

body {
  font-family: "Roboto", sans-serif;
}

button {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.36px;
  border-radius: 25px;
}

.page {
  padding-bottom: 200px;
}

nav {
  display: flex;
  max-width: 1738px;
  margin: 0 auto;
  padding: 65px 25px 0;
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 233px;
  height: 65px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0 -25px;
}
.navigation__item {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.36px;
  color: #fff;
  margin: 0 23px;
}
.navigation__button {
  padding: 15px 40px;
  color: #5584ff;
  background-color: #0e1a35;
  border: solid 1px rgba(85, 132, 255, 0.3);
  margin: 0 25px;
}

.main__header {
  margin: 142px 0 88px;
}
.main__title {
  margin: 0 0 18px;
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 60px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.main__subtitle {
  -o-object-fit: contain;
     object-fit: contain;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #8492af;
}
.main__button {
  display: block;
  color: #fff;
  padding: 15px 55px;
  background-color: #5584ff;
  margin: 82px auto 0;
}
.main__screenshot img {
  display: block;
  width: 882px;
  height: 621px;
}
.main__screenshot {
  box-shadow: 0 0 75px #1f3465;
  width: 882px;
  height: 493px;
  margin: 0 auto;
}

.features {
  display: flex;
  margin: 257px auto 0;
  max-width: 1340px;
  justify-content: space-between;
}
.features__item {
  width: 360px;
}

.features-item__image {
  display: flex;
  width: 92px;
  height: 88px;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.features-item__line {
  position: absolute;
  margin: -43px 0 0 315px;
  width: 220px;
  height: 1px;
  background-color: #8492af;
  border-radius: 1px;
}
.features-item__title {
  margin: 52px 0 0;
  -o-object-fit: contain;
     object-fit: contain;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.48px;
  text-align: center;
  color: #0e1a35;
}
.features-item__text {
  width: 360px;
  height: 78px;
  margin: 20px 0 58px;
  -o-object-fit: fill;
     object-fit: fill;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 0px;
  text-align: center;
  color: #8492af;
}
.features-item__button {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  color: #0e1a35;
  width: 250px;
  height: 48px;
  border: #8492af solid 1px;
  background: none;
  margin: auto;
  margin: 0 auto;
  display: block;
}